.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #ffdfdf;
  position: relative;
  z-index: 1;

  height: 1000px;
}

.mainText {
  position: absolute;
  top: 161px;
  z-index: 2;

  font-size: 132px;
  letter-spacing: -3px;
  font-weight: 400;
  text-align: center;
  color: #171414;
}

.table {
  position: relative;
  top: 145px;
  left: 88px;

  z-index: 5;
}
